<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EShift_transport.Properties.Settings.eShiftConnectionString"
            connectionString="Data Source=DESKTOP-LS1RA34\SQLEXPRESS01;Initial Catalog=eShift;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="EShift_transport.Properties.Settings.eShiftConnectionString1"
            connectionString="Data Source=DESKTOP-LS1RA34\SQLEXPRESS;Initial Catalog=eShift;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>